In [3]:
#Importando librerias
import pandas as pd
import numpy as pd
import yfinance as yf
import matplotlib_inline as mp

In [5]:
#Bajado Datos de la API
Tesla = yf.Ticker("TSLA")
#Pidiendole los datos hasta la fecha de hoy 
Tesla_Datos_Historicos = Tesla.history(period="max")
#Mostrando los datos obtenidos
Tesla_Datos_Historicos.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0